/**
 * Containers
 */
/* line 7, stanford_jira_exposed.scss */
.jira-container {
  overflow: hidden;
  *zoom: 1;
}

/* line 11, stanford_jira_exposed.scss */
.jira-agile-header {
  margin-bottom: .5em;
}

/* line 15, stanford_jira_exposed.scss */
.jira-agile-body {
  margin-bottom: .5em;
}

/* line 19, stanford_jira_exposed.scss */
.content {
  /**
   * Agile header
   */
  /**
   * Agile body
   */
}
/* line 24, stanford_jira_exposed.scss */
.content .agile-header-list {
  overflow: hidden;
  *zoom: 1;
  margin: 0px;
}
/* line 28, stanford_jira_exposed.scss */
.content .agile-header-list li[class*="span"] {
  margin: 0px;
  padding: 0px;
  margin-right: 0.2em;
}
/* line 33, stanford_jira_exposed.scss */
.content .agile-header-list > li {
  background: #CCC;
  border: solid 1px #666;
  text-indent: 1em;
  vertical-align: middle;
}
/* line 39, stanford_jira_exposed.scss */
.content .agile-header-list > li h3 {
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
}
/* line 50, stanford_jira_exposed.scss */
.content .agile-body-list {
  margin: 0 0.2em 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 54, stanford_jira_exposed.scss */
.content .agile-body-list > li {
  border: solid 1px #CCC;
  border-left: solid 3px #8c1515;
  padding: 0.3em;
  background: #EEE;
  list-style-type: none;
  margin: 0 0 0.2em 0;
}
/* line 65, stanford_jira_exposed.scss */
.content .agile-component-list {
  margin-bottom: 0px;
}
/* line 68, stanford_jira_exposed.scss */
.content .agile-component-list li {
  margin: 0.3em 0.5em 0.3em 0;
  padding: 0.2em 0.5em;
  line-height: 1em;
  background: #8c1515;
  list-style-type: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #FFF;
  font-weight: bold;
  -webkit-border-radius: 1em 1em;
  -moz-border-radius: 1em / 1em;
  border-radius: 1em / 1em;
}
/* line 84, stanford_jira_exposed.scss */
.content .agileitem-wrapper > div {
  margin-bottom: .2em;
  overflow: hidden;
  *zoom: 1;
}
/* line 89, stanford_jira_exposed.scss */
.content .agileitem-wrapper .agileitem-key {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 0 0 0.3em;
}
